$background-color: #f3f8f9;

$primary-normal-bg: #0fc48b;
$primary-normal-color: #fff;

$primary-strong-bg: #23a779;
$primary-strong-color: #fff;

$light-accent: rgba(255, 193, 7, 0.6);

$secondary-bg: #FFC107;
$secondary-color: #fff;

$primary-normal-text-color: #0fc48b;

$primary-strong-text-color: #23a779;

$primary-stronger-text-color: #152b34;

$secondary-text-color: #FFC107;

$warn-text-color: #bc5651;

$white-transparent: rgba(255, 255, 255, 0.97);

$content-field-background-color: #f0f1ec;

$error-color: rgb(213, 0, 0);
