@import "colors";

body #a0-lock.a0-theme-default .a0-panel .a0-bg-gradient {
  background-color: $primary-normal-bg;
  opacity: 1;
}

body #a0-lock.a0-theme-default .a0-panel .a0-bg-gradient .a0-avatar {
  display: none;
}

body #a0-lock.a0-theme-default .a0-panel .a0-bg-gradient .a0-image {
  display: none;
}

body #a0-lock.a0-theme-default .a0-panel button.a0-primary {
  background-color: $primary-normal-bg;
}

body #a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
  color: white;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
