<md-content class="md-whiteframe-z1 md-padding" layout="column">
  <p class="md-body-1">One of our experts will now review the job details and define the candidate
    requirements. </p>
  <p class="md-body-1">The candidate requirements are our interpretation of the skills and
    experience you require. Once you have reviewed and validated them, the job goes to our freelance
    recruiters.</p>
  <p class="md-body-1">Thank you from all the
    <span class="primary-normal-text md-body-2">Visage</span>
    team for believing in our dream.</p>
  <div class="thank-you">

  </div>
</md-content>
