<md-sidenav ng-if="!home" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Navigation</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item href ng-click="navigateTo('/candidate')">
        <md-icon>work</md-icon>
        <p>Available jobs</p>
      </md-list-item>
      <!--<md-list-item disabled="disabled" ng-click="navigateTo('/recruiter/referred/')">-->
      <!--<md-icon>people</md-icon>-->
      <!--<p>Your referred candidates</p>-->
      <!--</md-list-item>-->
      <!--<md-list-item disabled="disabled" ng-click="navigateTo('/recruiter/payments/')">-->
      <!--<md-icon>attach_money</md-icon>-->
      <!--<p>Payments</p>-->
      <!--</md-list-item>-->
      <md-divider></md-divider>
    </md-list>
    <md-list>
      <md-subheader class="md-no-sticky">Visage website</md-subheader>
      <md-list-item href="http://visage.jobs">
        <md-icon>info_outline</md-icon>
        <p>About us</p>
      </md-list-item>
      <md-list-item href="https://visage.jobs/recruiter.html">
        <md-icon>people</md-icon>
        <p>Become recruiter</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
