<md-dialog aria-label="Terms and conditions of service" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Terms and conditions of service</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog" class="material-icons">
          close
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div layout="row">
        <span flex></span>
        <span class="md-subhead">Last updated: January 10, 2016</span>
      </div>
      <ol>
        <li>
          <h3 class="md-title">Definitions</h3>
          In these terms and conditions the following words and phrases shall have the following
          meanings
          unless the context requires otherwise
          <ol>
            <li><h4 class="md-subhead">Application</h4>
              information completed by the Candidate in connection with applying for a Position
            </li>
            <li><h4 class="md-subhead">Campaign Credit</h4>
              a credit purchased by the Client in order to run a Vacancy Campaign.
            </li>
            <li><h4 class="md-subhead">Candidate</h4>
              a person who applies for a Visage advertised Position on any job board site,
              affiliated
              job board site, Visage site or other online site, through any electronic
              communication, or a person who is
              contacted by Visage regarding a Position.
            </li>
            <li><h4 class="md-subhead">Client</h4>
              any person, corporate body or firm together with any parent, subsidiary or associated
              company as defined in the Companies Act 2006, that agrees to use the Service, also
              referred to herein as
              “you.”
            </li>
            <li><h4 class="md-subhead">Candidate Profile</h4>
              the curriculum vitae, Video CV and other details that are provided to Visage by a
              Candidate for distribution to Clients in connection with securing employment.
            </li>
            <li><h4 class="md-subhead">Fees</h4>
              the fees and charges payable by the Client as specified in clause 5 of these Terms.
            </li>
            <li><h4 class="md-subhead">Position</h4>
              a role described within the Client’s business.
            </li>
            <li><h4 class="md-subhead">Position Description</h4>
              the description of your Position that we will use to market your company online
              to Candidates.
            </li>
            <li><h4 class="md-subhead">Executive Search Service</h4>
              the sourcing component of the recruitment efforts and activities in which we
              engage for the purpose of resourcing candidates for your Position, which includes
              vacancy promotion.
            </li>
            <li><h4 class="md-subhead">Terms</h4>
              these Terms and Conditions.
            </li>
            <li><h4 class="md-subhead">Vacancy Campaign</h4>
              promotional activities performed by Visage in connection with recruiting Candidates
              for your Position.
            </li>
            <li><h4 class="md-subhead">Agreed criteria</h4>
              set of skills, experience and demographics Visage and Client agree at the start of
              the search.
            </li>
            <li><h4 class="md-subhead">Visage</h4>
              Visage DMCC
            </li>
          </ol>
        </li>
        <li><h3 class="md-title">Agreement</h3>
          These Terms relate to the online Executive Resourcing Service and Recruit Service (the “
          Services”) provided by Visage.
          <ol>
            <li><h4 class="md-subhead">Acceptance</h4>
              The Terms contained herein constitute the agreement (the “Agreement”) between Visage
              and the
              Client, and shall be deemed accepted by either your acceptance of these Terms, or
              submitting a Position
              Description to Visage, or by the Client placing an order with Visage, or by payment of
              an invoice.
            </li>
            <li><h4 class="md-subhead">Entire Agreement</h4>Modification; Partial Invalidity. These
              Terms constitute the
              entire agreement between the parties and supersede any prior agreements or
              understandings between the
              Parties. Any amendments,revisions or modifications to the Terms must be in writing and
              signed by a
              director of Visage. If any provision is held invalid or unenforceable to any extent,
              the remainder of
              these Terms will not be affected thereby and that provision shall be enforced to the
              greatest extent
              permitted by law.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Your Position Description.</h3>
          <ol>
            <li><h4 class="md-subhead">Position Authenticity</h4>
              ; No Legal Violations. You represent and warrant that your Position Description is
              honest and truthful, and does not violate any laws or infringe the rights of any third
              party.
            </li>
            <li><h4 class="md-subhead">Discretionary Branding</h4>
              . We utilise various social media and online platforms to promote your
              organisation and its career opportunities. Depending on the circumstances and platform
              (such as third
              party restrictions), your Position Description may appear unbranded, without Client
              e-­‐mail addresses or
              web links.
            </li>
            <li><h4 class="md-subhead">Campaign Optimisation</h4>
              . To maximise the online exposure of your Position Description, it is sometimes
              necessary to strategically insert and/or place keywords within it. You agree that
              Visage may optimise your
              Position Description for the purposes of increasing the effectiveness of your Vacancy
              Campaign. We
              copywrite every job position using SEO techniques and always refer back to the client
              for approval before
              using them.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Candidates</h3>

          <ol>
            <li><h4 class="md-subhead">CVs and Applications</h4>
              Visage delivers to you Candidate CVs and Applications through our online portal or
              direct via email.
            </li>
            <li><h4 class="md-subhead">Verification of Candidate Credentials</h4>
              Eligibility to Work. You are responsible for verifying the
              information contained in the Candidate CVs and Applications, as well as verifying the
              Candidate’s
              eligibility to work in the UAE.
            </li>
            <li><h4 class="md-subhead">Confidentiality</h4>
              You agree to maintain as confidential all Candidate CVs, Applications and other
              information provided to you by Visage.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Campaign Fees</h3>
          <p>
            A Campaign Credit must be purchased by the Client in order to run a Vacancy Campaign.
            The
            Campaign Credit fee is applicable to each individual job credit. The fees charged relate
            directly to the
            chosen service offering and elements provided within that service as detailed in the
            table below.</p>
          <p>Campaigns will run for as long as the Guaranteed amount of shortlist Candidates are
            delivered. This equates
            to 10 fully qualified CV’s and whenever possible an accompanying Video CV for Visage
            Finder Fees, 8 for
            Visage Senior and 6 for Visage Executive.
          </p>
          <p>Where there are multiple vacancies for the same role then the respective fee charged
            will be multiplied by
            the number of vacancies.
          </p>

          <!-- ARRAY HERE-->
        </li>
        <li>
          <h3 class="md-title">Refunds</h3>
          Will only be given if the Campaign Guarantee of Valid Candidates is not met. Refunds will
          not be
          applicable if a suitable candidate is recruited before the Guaranteed amount of candidates
          is met or if the
          position is filled internally by the client.

        </li>
        <li>
          <h3 class="md-title">Payment</h3>
          <ol>
            <li><h4 class="md-subhead">Payment in Advance</h4>
              Unless otherwise agreed between the parties, payment for a single Campaign Credit is
              required in advance of the Vacancy Campaign commencing, based on our invoice.
            </li>
            <li><h4 class="md-subhead">Payment on Account</h4>
              Subject to credit approval, for the purchase of multiple Campaign Credits. Account
              payment terms are 14 days from date of invoice unless otherwise agreed between the
              parties.
            </li>
            <li><h4 class="md-subhead">Late Payment</h4>
              In the event that payment is not made according to the agreed terms, Visage reserves
              the
              right to suspend work on any current or new Vacancy Campaigns or access to Candidate
              Applications and CV’s
              until payment has been made. Visage also reserve the right to remove any guarantee
              (see Section 7) and/or
              charge the Client interest and charges in pursuant to the Late Payment of Commercial
              Debt (Interest) Act
              1998.
            </li>
            <li><h4 class="md-subhead">VAT</h4>
              All Fees are exclusive of any Value Added Taxes or other applicable sales tax. Value
              Added Tax will
              be charged at the applicable rate.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Cancellations & Interruptions.</h3>

          <ol>
            <li>Once you have placed an order, then there is no right of cancellation of this order
              and any fees payable
              will remain due. Although, you have the right to withdraw the Vacancy Campaign for any
              reason at any time.
            </li>
            <li>You acknowledge that the Internet and/or Visage’s systems, services and equipment
              may from time to time
              be partially or completely inoperative as a consequence of, but not limited to,
              mechanical breakdown,
              maintenance, hardware or software upgrades, communication connectivity problems or
              other factors beyond
              the control of Visage. You further acknowledge that Visage will not be held liable for
              any failure or
              inability to provide continuous, error free, uninterrupted services under these
              circumstances.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Limitation of Liability & Indemnity</h3>

          <ol>
            <li>Visage qualifies and screens Candidates based on the information submitted by
              Candidates in their
              respective application materials. Unless otherwise expressly agreed in writing, Visage
              does not conduct
              reference or background checks on Candidates. Accordingly, Visage will not be liable
              to you or any third
              party for losses or damages arising from the intentional or negligent misconduct, acts
              or omissions of any
              Candidate submitted to you by Visage.
            </li>
            <li>All communication between you and any Candidate and in connection with the
              Candidate's response to the
              Vacancy Campaign is your responsibility. Accordingly, you agree to indemnify, defend,
              and reimburse Visage
              against any losses or damages arising from the intentional or negligent misconduct,
              acts or omissions of
              your employees, agents or contractors during the course of the Vacancy Campaign. The
              preceding limitation
              shall not apply to losses or damages arising from the negligence or intentional
              misconduct, acts or
              omissions of Visage, its employees, agents or contractors during the course of the
              Vacancy.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Campaign</h3>
          <ol>
            <li>While Visage endeavors to ensure that the information on its website is correct,
              Visage does not warrant
              the accuracy and completeness of that information. Visage may make changes to the
              material on this website
              at any time without notice. The material on this website may be out of date, and
              Visage makes no
              commitment to update such material. Visage will not be liable to you or any other
              person for loss or
              damages suffered by you as a result of any failure or refusal by Visage in receiving‚
              processing or
              accepting any communication sent to Visage by means of the website, email, or
              otherwise. In no event will
              Visage be liable to any party for any direct‚ indirect‚ special or other consequential
              damages for any use
              of the service‚ including‚ without limitation‚ any loss of profits‚ business
              interruption‚ loss of
              programs or other data on your information handling system or otherwise‚ even if we
              are expressly advised
              of the possibility of such damages.
            </li>
            <li>Visage’s liability to you for breach of contract or negligence shall not exceed an
              amount equal to the
              fees for the Vacancy Campaign or series of Vacancy Campaigns regarding the same matter
              placed by you with
              Visage. In no event shall we be liable for any special, indirect, consequential or
              loss whatsoever or any
              loss of profit regardless of whether such losses are foreseeable and whether or not
              caused by our
              negligence arising out of or in connection with the use of the Services.
            </li>
          </ol>
        </li>
        <li>
          <h3 class="md-title">Termination</h3>
          This Agreement may be terminated by Visage upon breach of these terms under the following
          circumstances:
          -­‐ You fail to submit payment of amounts due to Visage by the payment date on the
          invoice, and such payment
          is not made within 7 days following notice.
          -­‐ You make a material misrepresentation to Visage.
          -­‐ You violate these Terms or otherwise improperly use the Service.
        </li>
        <li>
          <h3 class="md-title">Disclaimer</h3>
          . All information is provided by Visage on an "as is" and an "as available" basis only.
          Visage
          provides no representations or warranties‚ express or implied‚ including the implied
          warranties of fitness for
          a particular purpose‚ merchantability and non-­‐infringement. Visage expressly disclaims
          all warranties that
          the site will (i) be uninterrupted and secure (ii) be error or virus free‚ and (iii) meet
          your requirements.

        </li>
        <li>
          <h3 class="md-title">Authority</h3>
          You acknowledge that the officer or other representative agreeing to these Terms has full
          and
          complete authority to act on your behalf.

        </li>
        <li>
          <h3 class="md-title">Third Party Rights</h3>
          A person who is not a party to this contract shall not have any rights under or in
          connection with it.

        </li>
        <li>
          <h3 class="md-title">Governing Law</h3>
          These Terms, along with your use of the Visage site, shall be governed by the Dubai law
          and
          shall be subject to the exclusive jurisdiction of the DIFC courts.

        </li>
      </ol>
    </div>
  </md-dialog-content>
</md-dialog>
