<form ng-if="authorized"
      accessible-form
      name="form"
      ng-submit="form.$valid && saveProfile()"
      novalidate
      class="recruiter-form">
  <div class="md-whiteframe-z1">
    <md-content layout="column" class="md-padding">
      <md-input-container class="md-block" flex-gt-sm id="input-container-title">
        <label>Full name *</label>
        <input auto-focus name="name" ng-required="true"
               ng-model="preferences.name">
        <div ng-show="form.$submitted || form.name.$touched">
          <div ng-message="required" ng-show="form.name.$error.required">This field is mandatory
          </div>
        </div>
      </md-input-container>

      <p class="help md-body-2">
        What is your country of residence ?
      </p>
      <md-autocomplete class="md-block icon-with-autocomplete" flex-gt-sm md-input-name="location"
                       ng-required="true"
                       md-selected-item="preferences.expert.location"
                       md-search-text="searchTextLocation"
                       md-items="location in searchLocation(searchTextLocation)"
                       md-item-text="location"
                       md-floating-label="Your location *"
                       md-autocomplete-required>
        <md-item-template>
          <span md-highlight-text="searchTextLocation">{{location}}</span>
        </md-item-template>
        <md-not-found>
          No matching location.
        </md-not-found>
        <div ng-messages="form.location.$error" ng-if="form.$submitted || form.location.$touched">
          <div ng-message="selectedItem" ng-show="form.location.$error.selectedItem">Invalid
            location selected
          </div>
          <div ng-message="required" ng-show="form.location.$error.required">This field is
            mandatory
          </div>
        </div>
      </md-autocomplete>

      <p class="help md-body-2">
        How much time can you dedicate to working with us ?
      </p>
      <p class="md-body-1">Availability *</p>
      <md-radio-group name="availability"
                      ng-required="true"
                      ng-model="preferences.expert.availability">
        <md-radio-button ng-repeat="availability in availabilities"
                         value="{{availability}}"
                         class="md-primary">{{availability}}
        </md-radio-button>
      </md-radio-group>
      <div ng-show="form.$submitted || form.availability.$touched">
        <div class="field-error" ng-message="required" ng-show="form.availability.$error.required">
          This field is mandatory
        </div>
      </div>


      <p class="help md-body-2">
        Which industries do you have knowledge of (3 max) ?
      </p>
      <md-autocomplete class="md-block" flex-gt-sm md-input-name="industry1"
                       ng-required="true"
                       md-selected-item="preferences.expert.industries[0]"
                       md-search-text="searchTextIndustry1"
                       md-items="industry in searchIndustry(searchTextIndustry1)"
                       md-item-text="industry"
                       md-floating-label="Industry 1 *"
                       md-autocomplete-required>
        <md-item-template>
          <span md-highlight-text="searchTextLocation">{{industry}}</span>
        </md-item-template>
        <md-not-found>
          No matching industry.
        </md-not-found>
        <div ng-messages="form.industry1.$error" ng-if="form.$submitted || form.industry1.$touched">
          <div ng-message="selectedItem" ng-show="form.industry1.$error.selectedItem">Invalid
            industry selected
          </div>
          <div ng-message="required" ng-show="form.industry1.$error.required">This field is
            mandatory
          </div>
        </div>
      </md-autocomplete>

      <md-autocomplete class="md-block" flex-gt-sm md-input-name="industry2"
                       md-selected-item="preferences.expert.industries[1]"
                       md-search-text="searchTextIndustry2"
                       md-items="industry in searchIndustry(searchTextIndustry2)"
                       md-item-text="industry"
                       md-floating-label="Industry 2"
                       md-autocomplete-required>
        <md-item-template>
          <span md-highlight-text="searchTextLocation">{{industry}}</span>
        </md-item-template>
        <md-not-found>
          No matching industry.
        </md-not-found>
        <div ng-messages="form.industry2.$error" ng-if="form.$submitted || form.industry2.$touched">
          <div ng-message="selectedItem" ng-show="form.industry2.$error.selectedItem">Invalid
            industry selected
          </div>
        </div>
      </md-autocomplete>

      <md-autocomplete class="md-block" flex-gt-sm md-input-name="industry3"
                       md-selected-item="preferences.expert.industries[2]"
                       md-search-text="searchTextIndustry3"
                       md-items="industry in searchIndustry(searchTextIndustry3)"
                       md-item-text="industry"
                       md-floating-label="Industry 3"
                       md-autocomplete-required>
        <md-item-template>
          <span md-highlight-text="searchTextLocation">{{industry}}</span>
        </md-item-template>
        <md-not-found>
          No matching industry.
        </md-not-found>
        <div ng-messages="form.industry3.$error" ng-if="form.$submitted || form.industry3.$touched">
          <div ng-message="selectedItem" ng-show="form.industry3.$error.selectedItem">Invalid
            industry selected
          </div>
        </div>
      </md-autocomplete>

      <p class="help md-body-2">
        Which geographical regions are you professionally most familiar with (3 max) ?
      </p>
      <fieldset class="standard">
        <legend>Recruitment areas *</legend>
        <div layout="row" layout-wrap flex>
          <div flex="100" flex-gt-sm="33" ng-repeat="area in areas">
            <md-checkbox name="area"
                         checklist-model="preferences.expert.areas"
                         checklist-value="area"
                         ng-required="!(preferences.expert.areas && preferences.expert.areas.length > 0 && preferences.expert.areas.length <= 3)">
              {{ area }}
            </md-checkbox>
          </div>
        </div>
        <div ng-messages="form.area.$error" ng-if="form.$submitted || form.$dirty">
          <div class="field-error"
               ng-message="required"
               ng-show="form.area.$error.required  && preferences.expert.areas.length===0">
            You must select at least one area
          </div>
          <div class="field-error"
               ng-message="required"
               ng-show="form.area.$error.required && preferences.expert.areas.length>3">
            You cannot select more than 3 areas
          </div>
        </div>
      </fieldset>

      <p class="help md-body-2">
        Which job roles do you have knowledge of (3 max) ?
      </p>
      <fieldset class="standard">
        <legend>Job Roles *</legend>
        <div layout="row" layout-wrap flex>
          <div flex="100" flex-gt-sm="33" ng-repeat="jobRole in jobRoles">
            <md-checkbox name="jobRole"
                         checklist-model="preferences.expert.jobRoles"
                         checklist-value="jobRole"
                         ng-required="!(preferences.expert.jobRoles && preferences.expert.jobRoles.length > 0 && preferences.expert.jobRoles.length <= 3)">
              {{ jobRole }}
            </md-checkbox>
          </div>
        </div>
        <div ng-messages="form.jobRole.$error" ng-if="form.$submitted || form.$dirty">
          <div class="field-error"
               ng-message="required"
               ng-show="form.jobRole.$error.required  && preferences.expert.jobRoles.length===0">
            You must select at least one job role
          </div>
          <div class="field-error"
               ng-message="required"
               ng-show="form.jobRole.$error.required && preferences.expert.jobRoles.length>3">You
            cannot select more than 3 job roles
          </div>

        </div>
      </fieldset>

    </md-content>
  </div>

  <div layout-gt-sm="row">
    <span flex-gt-sm></span>
    <md-progress-circular ng-show="pending" md-mode="indeterminate"></md-progress-circular>
    <div layout="row">
      <md-button flex ng-disabled="pending" type="submit" class="md-raised md-primary md-hue-2">Save
      </md-button>
    </div>
  </div>
</form>

<div ng-if="!authorized">
  <div class="md-whiteframe-z1">
    <md-content layout="column" class="md-padding">
      Expert subscription is only available on invitation
    </md-content>
  </div>
</div>

