<candidates-add-fab
  referred-by="user"
  job="job"
  indicators="indicators"
  on-done-adding="refreshSubmissionsAndSubscription()"></candidates-add-fab>

<candidate-list-and-details job="job"
                            indicators="indicators"
                            candidate-submissions="candidateSubmissions"
                            candidate-submissions-count="candidateSubmissionsCount"
                            selected-candidate-submission="selectedCandidateSubmission"
                            on-details-click="viewJob()"
                            download-url="csvDownloadUrl">
</candidate-list-and-details>
