<h2 class="md-display-1">Thank you</h2>
<p class="md-subhead">Your candidates calibration is over</p>
<div layout="row" layout-align="start center" style="width:100%">
  <div style="padding:30px">
    <md-icon style="font-size:50px" class="md-accent">mood</md-icon>
  </div>
  <div layout="column">
    <h3 class="md-head">Sit tight</h3>
    <span class="md-body-1">You are done, 10-20 recruiters will now crowdsource suitable profiles. It takes 48 hours and you will receive a notification.</span>
  </div>
  <span flex></span>
</div>

<announcement class="md-body-1">If you have additional feedback on the calibration list contact us at team@visage.ae
</announcement>
